.calendar {
  padding-top: 129px;
}

.calendar .month-calendar,
.calendar .week-calendar {
  display: grid;

  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.calendar .month-calendar {
  grid-template-columns: repeat(7, 1fr);
}

.calendar .week-calendar {
  grid-template-columns: repeat(8, 1fr);
}

.calendar .cal-block {
  display: flex;
  flex-direction: column;

  text-align: left;
  min-width: 0;
}

.calendar .cal-block {
  position: relative;
  height: 140px;
  padding: 10px;
  border: 0;
  border-left: 2px solid black;
  border-top: 2px solid black;
}

.calendar .cal-block.sm {
  height: 80px;
}

.calendar button.cal-block {
  overflow-y: auto;
}

.calendar .hour {
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  padding: 0 5px;
}

.calendar .day {
  font-weight: bold;
  margin-bottom: 5px;
}

.calendar .event-block {
  padding: 5px;

  font-size: 12px;
  text-align: left;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar .event-block.primary {
  border: none;
}

.calendar .event-block.secondary:hover {
  background: $secondary-color;
  color: white;
}

.calendar .event-block.fluid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  line-height: 1.5;
}

.calendar .event-block > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
