.controller {
  position: fixed;
  width: $screen-lg;
  z-index: $header-zindex;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);

  padding-top: 25px
}

.controller-wrapper {
  display: flex;
  align-items: center;

  border: 2px solid black;
  padding: 20px;
}

.controller-wrapper .date-control {
  flex-basis: 80%;
  max-width: 80%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.controller-wrapper .date-control .title {
  display: inline-block;

  font-size: 25px;
  font-weight: bold;
}

.controller-wrapper .type-control {
  flex-basis: 20%;
  max-width: 20%;

  text-align: center;
}

.controller-wrapper .type-control button:first-child {
  border-right: 0px;
}