.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $modal-zindex;

  overflow: hidden auto;
}

.modal .modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $modal-backdrop-zindex;
  background: black;
  opacity: .5;
}

.modal .modal-dialog {
  position: relative;
  z-index: $modal-dialog-zindex;
  max-width: 500px;
  background-color: white;

  margin: auto;
  margin-top: 200px;
}

.modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid $gray;
  padding: 16px;

  font-size: 20px;
  font-weight: bold;
}

.modal .modal-header .btn {
  font-size: 35px;
}

.modal .modal-body {
  padding: 16px;
  border-bottom: 1px solid $gray;
}

.modal .modal-footer {
  padding: 16px;
  text-align: right;
}

.modal .modal-dialog.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;

  background-color: transparent;

  color: white;
  font-size: 45px;
  font-weight: bold;
}